<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="TicketingDB" 
         connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=TICKETTEST;User ID=sa;Password=LoganMcl123!!!" 
         providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
